export HUBOT_IRC_ROOMS=""
export HUBOT_IRC_SERVER=""
export HUBOT_IRC_NICK="hubot"
export HUBOT_IRC_UNFLOOD="true"
export HUBOT_IRC_PORT="6667"
export HUBOT_IRC_SERVER_FAKE_SSL="ok"
export HUBOT_IRC_USESSL="ok"
export HUBOT_IRC_PASSWORD=""
#export HUBOT_LOG_LEVEL="debug"
#export HUBOT_IRC_SEND_NOTICE_MODE="true"
export EXPRESS_USER="user"
export EXPRESS_PASSWORD="password"
export PORT="8090"
export BIND_ADDRESS="127.0.0.1"
export FILE_BRAIN_PATH="./data"
